@model SharesAPI.Models.Shares
@{
    ViewBag.Title = "Добавление пользователя";
}
<form asp-action="CreateShares" asp-controller="home">
    <div class="form-group">
        <label asp-for="ShareName" class="control-label">Название акции</label>
        <input type="text" asp-for="ShareName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GroupsGroupId">Группа</label>
        <select asp-for="GroupsGroupId" asp-items="ViewBag.Groups"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>