@model IEnumerable<SharesAPI.Models.Groups>
@{
    ViewBag.Title = "Создание группы";
}
<a asp-action="CreateGroups">Добавить Группу</a>
<table class="table">
    <tr><td>№</td><td>Название Группы</td></tr>
    @foreach (var item in Model)
     {
       <tr>
       <td>@item.GroupId</td>
       <td>@item.GroupName</td>
       <td>
        <a asp-action="EditGroups" asp-controller="Home" asp-route-id="@item.GroupId">Изменить</a> |
        <a asp-action="DeleteGroups" asp-controller="Home" asp-route-id="@item.GroupId">Удалить</a>
       </td>
       </tr>
     }
</table>